/* ansible-runner css */
.ar-step-container {
	margin-bottom: 5px;
	background-color: #000;
    color: #fff;
}

.ar-nested-level {
    margin-left: 20px;
}

.ar-all-recap {
	margin-top: 5px;
	margin-bottom: 5px;
}

.ar-step-container > .ar-summary {
	color: #3f3f3f;
	background-color: #ebedef;
	padding: 4px;
    color: #3f3f3f;
    font-size: 100%;
}

.ar-play-container .ar-summary:hover {
	background-color: #bbbbbb;
}

.ar-summary .ar-name {
	font-weight: bold;
}

.ar-recap {
}

.ar-summary .ar-summary-col {
	width: 7em;
	margin-right: 2px;
	margin-left: 2px;
	float: right;
}

.ar-ok {
	color: green;
}

.ar-changed {
    color: yellow;
}

.ar-failed, .ar-fatal {
    color: red;
}

.ar-skipping {
    color: cyan;
}
