/* ansible-runner css */
.ar-step-container {
	margin-bottom: 5px;
	background-color: #000;
    color: #fff;
}

.ar-step-container > .ar-nested-level {
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.ar-nested-level {
    margin-left: 20px;
}

.ar-all-recap {
	margin-top: 5px;
	margin-bottom: 5px;
}

.ar-step-container > .ar-summary {
	color: #3f3f3f;
	background-color: #ebedef;
	padding: 4px;
    font-size: 100%;
}

.ar-play-container .ar-summary:hover, .ar-recap-container .ar-summary:hover {
	background-color: #bbbbbb;
	color: #3f3f3f;
	font-weight: bold;
}

.ar-summary .ar-name {
	font-weight: bold;
}

.ar-summary .ar-summary-col {
	width: 7em;
	margin-right: 2px;
	margin-left: 2px;
	float: right;
}

.ar-recap-container .ar-summary span:first-of-type {
	width: 400px;
	display: inline-block;
}

.ar-recap-container .ar-summary span {
	min-width: 8em;
	display: inline-block;
}

.ar-task-container ul {
	list-style-type: none;
	margin: 2px 0 2px 25px;
	padding: 0;
}

.ar-no-match {
	color: gray;
	font-style: italic;
	font-size: 95%;
}

.ar-ok {
	color: green;
}

.ar-changed {
    color: yellow;
}

.ar-failed, .ar-fatal {
    color: red;
}

.ar-skipping {
    color: cyan;
}
